< configuración >
  < system .webServer>
    
    <! - indica que el archivo index.js es una aplicación node.js 
    que será manejada por el módulo iisnode ->
    
    < manipuladores >
      < agregar  nombre = " iisnode "  ruta = " index.js "  verbo = " * "  módulos = " iisnode " />
    </ manipuladores >
    
    <! - agrega index.js a la lista de documentos predeterminada para permitir 
    URL que solo especifiquen la ubicación raíz de la aplicación, 
    por ejemplo , http://mysite.antarescloud.com/ ->
    
    < defaultDocument  enabled = " true " >
      < archivos >
        < agregar  valor = " index.js " />
      </ archivos >
    </ defaultDocument >
    
  </ system .webServer>
</ configuración >