<!--En esta archivo pued eque vayan los formularios de la parte del front end-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServerTuMascota</title>
</head>
<body>

     <%- include ('partials/navigation.ejs') -%>
    
    <h1>HELLO WORLD WITH EXPRESS & EJS</h1>
    
</body>
</html>