<!--En esta archivo pued eque vayan los formularios de la parte del front end-->


      
     <%- include ('partials/headers.ejs')-%>
        <h2>HELLO WORLD WITH EXPRESS & EJS</h2>
     <%- include ('partials/footer.ejs') -%>
     