
     

<%- include ('partials/headers.ejs')-%>

      
     <form  method="post" >

       <div class= "col-md-4 offset-3 md2">
              <h2 class="text center">Register you Account</h2>
      </div>
     <!--Name-->
       <div class="form-group">
              <label for="tittle">UserName</label>
              <input type="text" name="nombre" id="id-nombre" class="form-control" placefoloder="Entry a name" required>
       </div>
   <!--Apellido-->
 <div class="form-group">
              <label for="tittle">Password</label>
              <input type="Password" name="ps" id="id-apellido" class="form-control" placefoloder="Entry a name" required>
       </div>
   <!--Telefono_Celular-->
  
   <!--E-Mail--> 
  
   <!--Nombre de la mascota--> 
   
   <!--UserName--> 
   
   <!--contrasela-->
   <

<!--Comentarios-->
     
<!--Boton de envio -->
       <div class="form-group">
                     <input type="submit" value="Sign in" class="btn btn-primary">
              </div>
        </form>
        

 <%- include ('partials/footer.ejs') -%>
     